<mat-toolbar class="toolbar-shadow">
  <div
    style="
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    "
  >
    <span>Welcome to Elsa Quiz</span>
    <div style="display: grid; grid-template-columns: auto auto auto auto">
      <div>
        <button mat-icon-button matTooltip="Refresh" (click)="onRefresh()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>

<div>
  <!-- Show progress bar when isLoading is 0 -->
  <mat-card *ngIf="isLoading === 1">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card>

  <mat-card *ngIf="isLoading === 3">
    <mat-card-title style="width: 100%; text-align: center">
      {{ errorMessage }}
    </mat-card-title>
  </mat-card>

  <mat-card *ngIf="isLoading === 2">
    <mat-card-title class="quiz-title">
      {{ quizName }}
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-card
        *ngFor="let quiz of quizzesData; let i = index"
        style="padding: 20px"
      >
        <p>{{ i + 1 }}. {{ quiz.question }}</p>
        <mat-card-content>
          <mat-radio-group
            aria-label="Select an option"
            class="example-radio-group"
            [(ngModel)]="quiz.ans"
          >
            <mat-radio-button
              class="example-radio-button"
              *ngFor="let option of quiz.options; let j = index"
              [value]="j"
              >{{ option }}</mat-radio-button
            >
          </mat-radio-group>
        </mat-card-content>
      </mat-card>

      <mat-card style="padding-left: 40px; padding-right: 40px;">
        <mat-card-title style="margin-top: 20px; margin-bottom: 20px; text-align: center;">
          Enter your details
        </mat-card-title>
        <mat-form-field appearance="outline">
          <mat-label>Full Name</mat-label>
          <input matInput [(ngModel)]="fullName" maxlength="60" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Phone number</mat-label>
          <input matInput [(ngModel)]="phoneNumber" maxlength="10" minlength="10" required="">
        </mat-form-field>
        <div class="submit-button">
          <button
            (click)="onSubmitResult()"
            mat-raised-button
            style="font-size: 16px; padding: 20px"
            color="primary"
            matTooltip="Submit Result"
          >
            Submit Result
          </button>
        </div>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
